# Carpeta 
dataset/
dataset_mamitas/
dataset_road_kaggle/
mlruns/
notebooks_test/
road_segmentation_massachusets.ipynb

# Archivos 
*.pth
*.pt
test1.tiff
test2.tiff
road_segmentation_massachusets.ipynb

# Archivos temporales 
.DS_Store
Thumbs.db

# Archivos de configuración de tu IDE
.vscode/
.idea/
__pycache__/

# Carpeta del entorno virtual
venv/
.env/

# Archivos de logs generados por tu programa
*.log

# Carpetas donde guardas resultados de tus experimentos
saved_models/

# Carpeta con jupyter original y backup
jupyter_backups/